li{
  color:aquamarine
  }

.selected{
  color:bisque
  }


li {
  list-style:none;
  float:left;
  padding: 33px 20px;
}

.header {
  background-color: lightskyblue;
  color: black;
  height: 90px;
}

.header-logo {
  font-size: 36px; padding: 20px 40px;
  float: left;
}

.main {
  background-color: lightblue;
  height: 600px;
}

.footer {
  background-color: slategray;
  height: 270px;
}
